<nav id="main-nav" class="spacing-layer">

    <div class="nav-wrapper">

        <div class="navigation">
            <div class="nav-hov"><i onclick="toggleMenu()" class="fa-solid fa-bars fa-xl"></i></div>
            <i class="fa-solid fa-note-sticky fa-2xl"></i>
            <p>Notes</p>
        </div>

        <div class="searchbar">

            <input id="search-box" placeholder="Suchen" type="text">
            <i class="fa-solid fa-magnifying-glass fa-lg"></i>
        </div>

        <div class="settings navigation">

            <div class="nav-hov"><i class="fa-solid fa-rotate fa-lg"></i></div>
            <div class="nav-hov"><i class="fa-solid fa-list fa-lg"></i></div>
            <div class="nav-hov"><i class="fa-solid fa-gear fa-lg"></i></div>

        </div>

    </div>

</nav>